@{
    ViewBag.Title = "Login";
}
<div class="col-center-block ">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 id="forms">Login</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well bs-component">
                    <form class="form-horizontal center-block" id="form">
                        <fieldset>
                            <div class="form-group is-empty">
                                <label for="inputEmail" class="col-md-2 control-label">Email</label>

                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group is-empty">
                                <label for="inputPassword" class="col-md-2 control-label">Password</label>

                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
        $("#form").submit(function (e) {

            e.preventDefault();
            $.post("", {
                "login": $("#inputEmail").val(),
                "password": CryptoJS.MD5($("#inputPassword").val()).toString(),
                "createPersistentCookie": true
            }
            );

        });
        //$('form').on('submit', function (e) {
        //    // validation code here
             
                 

        //    $.post("~/Account/Login", {
        //            "login": inputEmail.value,
        //            "password": CryptoJS.MD5(inputPassword).toString(),
        //            "createPersistentCookie": false
        //        }, function(data, status) {
        //            window.location.href = window.location.href.replace('~/Account/Login', '');
        //        });
             
        //});
     
</script>


<style>
    body > div > div > div > div > div:nth-child(2) > div {
        margin-left: 25%;
    }
</style>